extends layout

block content
	.jumbotron
		h1= title
		p #{subtitle}

	ul#numbers
		li.first One
		li Two
		li Three
		li Four

	p.
		this is a
		long text

	p: a(href="/profile/1/edit", rel="nofollow") Edit Profile