doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/bower/bootstrap/dist/css/bootstrap.min.css')
		script(src='/bower/bootstrap/dist/js/bootstrap.min.js')
		script(src='/bower/jquery/dist/jquery.min.js')
	body
		#content
			block content
